{% extends "base.html" %}
{% block content %}
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
  <h1>ZT's Anime List & Review</h1>
  <p>Welcome to my Anime Watch List. I use this to keep track of animes I want to watch.</p>
  <p>I also list the ones I'm following right now.</p>
  <p>For the animes I have watched before, I give them scores and reviews.</p>
  <p>Feel free to create an account to keep track of your own anime list.</p>
  <div id='content'></div>
  </div>
</div>

{% endblock %}
